.App {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #5f7ab1;
}
h1 {
  color: #DA0037;
  text-shadow: 3px 3px #17223B;
}

.TitleSection {
  background-color: #1D2D50;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.TitleSection input {
  border: 1px solid #2a9d8f;
  width: 300px;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
}

.TitleSection button {
  border: 1px solid #2a9d8f;
  width: 200px;
  height: 60px;
  margin: 20px;
  border-radius: 10px;
  padding-left: 10px;
  background-color: #3165ad;
  border: none;
  color: #e3e3e3;
}

.TitleSection button:hover {
  cursor: pointer;
}

.DisplaySection {
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  background-color: #5f7ab1;
  color: rgb(182, 52, 52);
 
}
.DisplaySection h1 {
  color: #EEEEEE;
  text-shadow: 1px 1px #17223B;
}

.DisplaySection h3,
h4 {
  margin: 16px;
  color: #190857;
  font-weight: 700;
}

.DisplaySection img {
  width: 20vw;
  height: 25vh;
}

span{
  margin-top: 10px;
  color: #17223B;
}

.img-thing{
  filter: drop-shadow(16px 16px 10px black)
}
